head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')

  title Sushi Guide
  meta(name='description' content="Beginner's quick guide to understanding and enjoying sushi")

  link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
  link(rel='icon', href='favicon.ico', type='image/x-icon')
  link(rel='stylesheet', href='style.css')

body
  #heading
    img(src='assets/img/flag.png')
    p#tagline Beginner's quick guide
    h1#page-title Sushi

  p#instructions You just arrived for the first time at a sushi restaurant and the menu has no pictures! Learn the different types of sushi and fish, how to eat them and what they pair with.


  section#sushi-types
    h2 Types of Sushi

    .items
      article.item
        img(src='assets/img/food/nigiri.jpeg')
        p.caption Nigiri
        p.description a slice of raw fish atop a small mound of rice and with a little #[i wasabi] between them.
        p.extra-info Eaten with hands, fish side down on tongue first.
        p.extra-info Flip on its side, gently dip fish edge in soy sauce (not rice), don't shake it. Not with wasabi.

      article.item
        img(src='assets/img/food/maki.jpeg')
        p.caption Maki
        p.description strips of fish laid in rice and rolled inside #[i nori] in a long cylinder, then cut in small pieces
        p.extra-info Futomaki: thick rolls, Hosomaki: thin rolls
        p.extra-info Traditionally eaten with hands: thumb and middle finger.

      article.item
        img(src='assets/img/food/uramaki.jpeg')
        p.caption Uramaki
        p.description inside-out roll: fish in the center wrapped in #[i nori] and rice on the outside

      article.item
        img(src='assets/img/food/sashimi.jpeg')
        p.caption Sashimi
        p.description raw slices of fish (not considered sushi).
        p.extra-info Eaten with chopsticks. Can mix soy sauce & wasabi



  section#condiments
    h2 Sushi Condiments

    .items
      article.item
        img(src='assets/img/food/soy.jpeg')
        p.caption Shoyu
        p.description soy sauce, salty.
        p.extra-info Pour a very small amount.

      article.item
        img(src='assets/img/food/wasabi.jpeg')
        p.caption Wasabi
        p.extra-info extremely hot. Recover from too much by breathing through the nose.
        p.extra-info Not to be mixed with soy sauce.

      article.item
        img(src='assets/img/food/gari.jpeg')
        p.caption Gari
        p.description pickled ginger.
        p.extra-info Eat a single slice between kinds of sushi to cleanse palette.



  section#fish-kinds
    h2 Kinds of Fish

    .items
      article.item
        img(src='assets/img/food/salmon.jpeg')
        p.caption Sake
        p.description salmon
      article.item
        img(src='assets/img/food/tuna.jpeg')
        p.caption Maguro
        p.description tuna
        p.extra-info Escolar: white tuna, Toro: fat tuna
      article.item
        img(src='assets/img/food/hamachi.jpeg')
        p.caption Hamachi
        p.description yellowtail
      article.item
        img(src='assets/img/food/macrou.jpeg')
        p.caption Saba
        p.description mackerel (macrou)
      article.item
        img(src='assets/img/food/tai.jpeg')
        p.caption Tai
        p.description red snapper
      article.item
        img(src='assets/img/food/crab.jpeg')
        p.caption Kani
        p.description cooked crab (can be artificial)
      article.item
        img(src='assets/img/food/shrimp.jpeg')
        p.caption Ebi
        p.description cooked shrimp
      article.item
        img(src='assets/img/food/squid.jpeg')
        p.caption Ika
        p.description squid (calamar)
      article.item
        img(src='assets/img/food/octopus.jpeg')
        p.caption Tako
        p.description octopus
      article.item
        img(src='assets/img/food/arici.jpeg')
        p.caption Uni
        p.description sea urchin (arici de mare)
      article.item
        img(src='assets/img/food/herring-roe.jpeg')
        p.caption Kazunoko
        p.description herring roe (icre)
      article.item
        img(src='assets/img/food/eel.jpeg')
        p.caption Unagi/Anago
        p.description eel
      article.item
        img(src='assets/img/food/scallop.jpeg')
        p.caption Hotate
        p.description scallop (socica)



  section#roll-types
    h2 Types of Rolls

    .items
      article.item
        img(src='assets/img/food/spicy-tuna.jpeg')
        p.caption Spicy Tuna
        p.description tuna, mayo, chilli
      article.item
        img(src='assets/img/food/spider.jpeg')
        p.caption Spider roll
        p.description crab, cucumber, sprouts
      article.item
        img(src='assets/img/food/philly.jpeg')
        p.caption Philadelphia
        p.description salmon, avocado, asparagus, cream cheese
      article.item
        img(src='assets/img/food/cali.jpeg')
        p.caption California
        p.description crab, avocado, cucumber, sesame seeds
        p.extra-info Rainbow: assortment of fish on top of California
      article.item
        img(src='assets/img/food/crunch.jpeg')
        p.caption Crunch
        p.description spicy tuna, crispy seaweed, deep fried vegetables
      article.item
        img(src='assets/img/food/caterpillar.jpeg')
        p.caption Caterpillar
        p.description eel, cucumber, egg, avocado
      article.item
        img(src='assets/img/food/tiger.jpeg')
        p.caption Tiger
        p.description avocado, shrimp, tempura, cucumber
      article.item
        img(src='assets/img/food/dragon.jpeg')
        p.caption Dragon
        p.description eel, crab, cucumber inside, avocado outside
      article.item
        img(src='assets/img/food/dynamite.jpeg')
        p.caption Dynamite
        p.description shrimp, yellowtail, carrots, avocado, cucumber, bean sprouts, chili, spicy mayo
      article.item
        img(src='assets/img/food/surf-n-turf.jpeg')
        p.caption Surf and Turf
        p.description beef, crab, tuna, salmon, carrot, avocado


  section#drinks
    h2 Pairing Drinks

    .items
      article.item
        img(src='assets/img/food/wine.jpeg')
        p.caption White Wine
        p.description Dry Champagne goes with anything. Other good choices are Dry Rose/Riesling and Green Wine.
      article.item
        img(src='assets/img/food/beer.jpeg')
        p.caption Japanese Beer
        p.description crisp and dry.
      article.item
        img(src='assets/img/food/sake.jpeg')
        p.caption Sake
        p.description fermented rice, best with #[i sashimi], not sushi.
        p.extra-info Can be drank before.
      article.item
        img(src='assets/img/food/green-tea.jpeg')
        p.caption Green Tea
        p.description can act as a palette cleanser


  section#other-food
    h2 Other Food Items

    .items
      article.item
        img(src='assets/img/food/nori.jpeg')
        p.caption Nori
        p.description seaweed
      article.item
        img(src='assets/img/food/rice.jpeg')
        p.caption Sushi rice
        p.description white, long rice with vinegar water and salt
      article.item
        img(src='assets/img/food/temaki.jpeg')
        p.caption Temaki
        p.description #[i nori], cone of fish, rice and vegetables
      article.item
        img(src='assets/img/food/tempura.jpeg')
        p.caption Tempura
        p.description deep fried sea food
      article.item
        img(src='assets/img/food/egg.jpeg')
        p.caption Tamago
        p.description egg, desert
      article.item
        img(src='assets/img/food/inari.jpeg')
        p.caption Inari
        p.description no fish, just rice in #[i tofu]
      article.item
        img(src='assets/img/food/gunkan.jpeg')
        p.caption Gunkan
        p.description rice, #[i nori], fish roe (icre)
      article.item
        img(src='assets/img/food/chirashi.jpeg')
        p.caption Chirashi
        p.description bowl of mixed fish, rice and vegetables
      article.item
        img(src='assets/img/food/miso.jpeg')
        p.caption Miso
        p.description seafood soup, after main course.
        p.extra-info Can be drank directly from the bowl
      article.item
        img(src='assets/img/food/tofu.jpeg')
        p.caption Tofu
        p.description cheese made from soy milk
      article.item
        img(src='assets/img/food/onigiri.jpeg')
        p.caption Onigiri
        p.description ball of rice wrapped in #[i nori]
      article.item
        img(src='assets/img/food/tobiko.jpeg')
        p.caption Tobiko
        p.description flying fish roe (icre)
      article.item
        img(src='assets/img/food/daikon.jpeg')
        p.caption Daikon
        p.description Japanese radish (served with #[i sashimi])


  section#more-info
    h2 More Info

    h3 Eating
    ul
      li Eat immediately, before it loses flavor
      li Eat #[i maki] first, before it loses crispiness
      li Eat should eaten in one bite, to avoid ruining the structure
      li Eat most flavorful last: white fish, silver, red, salmon, fattest; to avoid overpowering lighter fish

    h3 Chopsticks
    ul
      li Use back ends when taking from another plate
      li Don't pass food with them, extend your plate instead
      li Don't point with them
      li Don't rub them together
      li Don't stick them vertically in rice
      li When resting, place them on the ceramic rest

    h3 Chef
    ul
      li #[i Omakase] = meal of dishes selected by the chef
      li You can sit at the bar to watch preparation (non-sushi items ordered from waiter)
      li You can ask about tools; but asking about freshness of ingredients is insulting
      li You can complement with #[i Sake] or beer but you can't tip

    h3 Etiquette
    ul
      li Don't leave food on the plate, at all
      li Be aware when taking photos
      li Towels may be provided to wipe hands before eating

    h3 Related Terms
    ul
      li #[i itamae] = sushi chef
      li #[i irasshaimase] = welcome
      li #[i toro] = fat
      li #[i sushi] initially referred to the rice

  footer Enjoy your sushi! (#[a(href='https://github.com/stefan-niculae/sushi') page source])
